*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(pozadina.jpg);
  background-size: cover;
  background-position: center;

}



.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 120px;
  cursor: pointer;
  background-color: transparent;
}



.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  font-size: 1.1rem;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background-color: #b19b90 ;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: 0.4s;
}

.navbar ul li:hover::after{
  width: 100%;

}

.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1{
  font-size: 5rem;
  margin-top: 80px;
  font-family:sans-serif;
}

.content p{
  margin: 20px auto;
  font-weight: 200;
  line-height: 25px;
  font-size: 30px;
  font-family:  sans-serif;
}

button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #b19b90;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span{
  background-color: #b19b90;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span{
  width: 100%;

}

button:hover{
  border: none;
}

.slider-wrapper .image-list{
  display: grid;
  gap: 18px;
  font-size: 0;
  overflow-x:auto ;
  margin-bottom: 30px;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
  overflow-y:hidden ;
}

.slider-wrapper .image-list::-webkit-scrollbar{
  display: none;
}

.container .slider-scrollbar{
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track{
  height: 2px;
  width: 100%;
  background-color: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-wrapper .image-list .image-item{
  width: 325px;
  height: 400px;
  object-fit: cover;
  transition: 0.25s ease-out;
}

.image-slider{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #F1F4FD;
}

.image-item:hover{
  scale: 1.05;
  transition: 0.25s ease-out;
}

.container{
  width: 100%;
}

.slider-scrollbar .scrollbar-thumb{
  height: 100%;
  position: absolute;
  width: 50%;
  background-color: black;
  border-radius: inherit;
  cursor: grab;
}


.slider-scrollbar .scrollbar-thumb::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;

}

.slider-scrollbar:hover .scrollbar-track{
  height: 4px;
}

.slider-scrollbar .scrollbar-track:active{
  cursor: grabbing;
  height: 8px;
  top: -2px;

}

.slider-wrapper {
  position: relative;
  width: 100%;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: 25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  /* right: -25px; */
  right: 25px;
}



.image-container{
  margin:30px 0 ;
}


  
/* MEDIA CODES   */

@media(max-width:481px){
  .content h1{
    font-size:4rem ;
  }
  .content p{
    font-size: 1.6rem;
  }
  button{
    width: 180px;
  }
  .show a{
    font-size: 1.5rem;
  }
}

@media (max-width:769px){
  .content h1{
    font-size: 3.9rem;
  }
  .content p{
    font-size: 1.9rem;
  }
  ul.hidden{
    font-size: 1.1rem;
  }
  button{
    width: 190px;
  }
}

@media (max-width:1025px){
  .content h1{
    font-size: 4rem;
  }
  .content p{
    font-size: 1.8rem;
  }
  ul.hidden{
    font-size: 1.2rem;
  }
  button{
    width: 200px;
  }
}


@media( max-width: 1023px){
  

 .slider-wrapper .slide-button{
  display: none!important;
 }
 .slider-wrapper .image-list{
  gap: 10px;
  margin-bottom: 15px;
 }

 .slider-wrapper .image-list .image-item{
  width: 280px;
  height: 380px;
}

.slider-scrollbar .scrollbar-thumb{
  width: 20%;
}
}


.background{
  background-image: url('ticks.png');
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-top: 15px;
}


.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger-menu.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-15px, 6px);
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-15px, -6px);
}





@media (max-width: 767px) {
/* .navbar ul {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
  z-index: 1;
  opacity: 0;
}

.navbar ul.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1; 
transform: translateY(20%); 
} */
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  padding: 0;
  border: 1px solid red;
}
.hidden{
    transform: translateY(-100%);
}

.show li{
  height: 90px;
}


.show{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  z-index: 1;
  background: rgba(39, 37, 37, 0.952);
  position: fixed;
  transform: translateY(0%);
  transition: .6s ease-in-out;
  top: 0;
  backdrop-filter: blur(20px) ;
}

/* tvoj kod */

.navbar ul li {
  margin: 15px 0;
}

.hamburger-menu {
  display: flex;
  z-index: 2;
  position: absolute;
  left: 30px;
}
}

.pozadina{
  background-image: url();
}

            /* ABOUT SECTION */

#about{
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
}

.kontent h1{
  font-size: 3.2rem;
  color: black;
  margin-top: 100px;
}

.kontent p{
  font-size: 1.2rem;
  flex-direction: row;
}




