*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(comfortable-modern-living-room-illuminated-with-electric-lamp-generated-by-ai.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
    background-color: transparent;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #b19b90 ;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.4s;
}

.navbar ul li:hover::after{
    width: 100%;

}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
    font-family:sans-serif;
}

.content p{
    margin: 20px auto;
    font-weight: 200;
    line-height: 25px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #b19b90;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background-color: #b19b90;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;

}

button:hover{
    border: none;
}

.slider-wrapper .image-list{
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x:auto ;
    margin-bottom: 30px;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
    overflow-y:hidden ;
}

.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

.container .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background-color: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-wrapper .image-list .image-item{
    width: 325px;
    height: 400px;
    object-fit: cover;
    transition: 0.25s ease-out;
}

.image-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F1F4FD;
}

.image-item:hover{
    scale: 1.05;
    transition: 0.25s ease-out;
}

.container{
    width: 100%;
}

.slider-scrollbar .scrollbar-thumb{
    height: 100%;
    position: absolute;
    width: 50%;
    background-color: black;
    border-radius: inherit;
    cursor: grab;
}


.slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;

}

.slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}

.slider-scrollbar .scrollbar-track:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;

}

.slider-wrapper {
    position: relative;
    width: 100%;
  }
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  .slider-wrapper .slide-button#prev-slide {
    left: 25px;
    display: none;
  }
  .slider-wrapper .slide-button#next-slide {
    /* right: -25px; */
    right: 25px;
  }

.image-container{
    margin:30px 0 ;
  }

  @media( max-width: 1023px){
   .slider-wrapper .slide-button{
    display: none!important;
   }
   .slider-wrapper .image-list{
    gap: 10px;
    margin-bottom: 15px;
   }

   .slider-wrapper .image-list .image-item{
    width: 280px;
    height: 380px;
}

.slider-scrollbar .scrollbar-thumb{
    width: 20%;
}
  }

  .about{
    margin: 150px;
  }